// Buttons
//////////////////////////////////////////////////////////////////////
a.btn,
button.btn,
input[type="button"].btn,
input[type="reset"].btn,
input[type="submit"].btn,
.btn {
  @include btn($color-secondary, $base-border-radius, $base-button-padding);
  border: none;
  @include font-scale(base, $font-merriweather);
  font-weight: normal;
  vertical-align: middle;
  
  &.btn-disabled,
  &[disabled="disabled"] {
    @include btn($color-secondary-pale, $base-border-radius, $base-button-padding, true);
  }
  
  &.btn-large {
    @include btn($color-buttons, $base-border-radius, 1em 1.5em);
    font-size: 1.125em;
    line-height: 1.11111111;
    
    @include media($bp-med-val) {
      line-height: 1.22222222;
    }
  }
  
  &.btn-small {
    @include btn($color-buttons, $base-border-radius, 0.25em 0.5em);
    font-size: 0.75em;
  }
  
  &.btn-alert {
    @include btn($color-error, $base-border-radius, $base-button-padding);
  }
  
  &.btn-success {
    @include btn(darken($color-buttons, 7), $base-border-radius, $base-button-padding);
  }
}