// Navigation: Main Menu
//////////////////////////////////////////////////////////////////////

// Typographic Styles //
.menu-main {
  list-style: none;
  text-align: left;
  
  a {
    background: $color-primary;
    border-radius: $base-border-radius;
    color: $color-white;
    @include font-scale(mid, $font-merriweather);
    text-decoration: none;
    text-shadow: 0.125rem 0.125rem 0 rgba($color-black, 0.21);
    
    &:focus,
    &:hover,
    &:active {
      background: $color-primary-light;
    }
  }
}

// Layout-Specific Styles //
.menu-main {
  margin: 1.5rem 0;
  padding: 0;
  
  li {
    display: block;
    margin-bottom: 1rem;
  }
  
  a {
    display: block;
    padding: 0.25rem 1rem;
  }
  
  // Medium layout
  @include media($bp-med-val) {
    li {
      float: left;
      margin-right: 1rem;
      margin-bottom: 0;
      position: relative;
    }// end li
    
    a {
      padding: 0.75rem 1rem;
    }
  }
}// end menu-main