// Navigation: Main Menu
//////////////////////////////////////////////////////////////////////

// Typographic Styles //
.menu-main {
  list-style: none;
  text-align: left;
  
  a {
    border-bottom: 0.0625rem solid $color-primary-dark;
    //background: $color-primary;
    //border-radius: $base-border-radius;
    color: $color-white;
    display: block;
    @include font-scale(mid, $font-merriweather);
    text-decoration: none;
  }
}

// Layout-Specific Styles //
.menu-main {
  margin: 0 0 1.5rem 0;
  //@include margin(24px, 0, 24px, 0);
  padding: 0;
  
  li {
    margin: 0;
    padding: 0;
    
    a {
      display: block;
      padding: 0;
      
      &:focus,
      &:hover,
      &:active {
        background: $color-primary-dark;
      }
    }
    
    ul {
      margin: 0;
      padding: 0;
    }
    
    ul li a {
      border-radius: 0;
    }
  }// end li
}// end menu-main