// Navigation: Eyebrow Menu
//////////////////////////////////////////////////////////////////////

// Typographic Styles //
.menu-eyebrow {
  list-style: none;
  text-align: left;
  
  a {
    color: palette(gray, x-light);
    @include font-scale(mid, $font-merriweather);
    text-decoration: none;
    //text-shadow: 0.125rem 0.125rem 0 $color-primary-dark;
    
    &:focus,
    &:hover,
    &:active {
      color: $color-white;
    }
    
    &[href*="contact"] {
      @extend .icon-phone-squared;
      
      &:before { color: $color-white; }
    }
    &[href*="linkedin"] {
      @extend .icon-linkedin;
      
      &:before { color: $color-white; }
    }
  }
}

// Layout-Specific Styles //
.menu-eyebrow {
  margin: 0;
  padding: 0;
  
  a {
    display: block;
  }
}