// Navigation: Eyebrow Menu
//////////////////////////////////////////////////////////////////////

// Typographic Styles //
.menu-eyebrow {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  
  li {
    border-bottom: 0.0625rem dotted rgba(palette(blue, light), 0.7);
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    
    &:last-child {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
  a {
    color: palette(gray, x-light);
    display: block;
    @include font-scale(mid, $font-open-sans);
    text-decoration: none;
    text-shadow: 0.125rem 0.125rem 0 rgba($color-black, 0.42);
    
    &:focus,
    &:hover,
    &:active {
      color: $color-white;
    }
    
    &[href*="contact"] {
      @extend .icon-phone-squared;
      
      &:before {
        color: palette(green, x-light);
        font-size: 1.5rem;
        margin-right: 0.75rem;
      }
    }
    &[href*="linkedin"] {
      @extend .icon-linkedin;
      
      &:before {
        color: lighten(palette(blue, light), 21);
        font-size: 1.5rem;
        margin-right: 0.75rem;
      }
    }
  } // end a
  
  // Medium layout
  @include media($bp-med-val) {
    text-align: right;
    
    li {
      border-right: 0.0625rem dotted rgba(palette(blue, light), 0.7);
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
      
      &:last-child {
        border: none;
      }
    } // end li
  }
}

// Layout-Specific Styles //
.menu-eyebrow {
  margin: 0;
  padding: 0;
  
  // Medium layout
  @include media($bp-med-val) {
    position: absolute;
    right: 0;
    top: 0;
    
    li {
      display: inline-block;
      margin-right: 0.25rem;
      padding-right: 0.75rem;
      
      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
    } // end li
    
    a {
      display: block;
    }
  }
}