// Typography overrides
//////////////////////////////////////////////////////////////////////

// Base HTML
//////////////////////////////////////////////////////////////////////
/* Define your base font-size here; most elements will inherit this. */
:root {
  font-size: 1em;
  line-height: 1.5;
}

body {
  background: palette(misc);
  color: palette(gray, x-dark);
  font-family: unquote(map-get($font-open-sans, stack));
  @include font-scale(base);
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Common margin-bottom for vertical rhythm. */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
fieldset,
p,
table,
pre,
hr {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5 {
  color: palette(blue, dark);
  font-family: unquote(map-get($font-open-sans, stack));
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1, .alpha {
  @include font-scale(mid);
  
  @include media($bp-med-val) {
    @include font-scale(mid-large);
  }
  @include media($bp-lg-val) {
    @include font-scale(large);
  }
}
h2, .beta {
  @include font-scale(mid);
  
  @include media($bp-med-val) {
    @include font-scale(mid);
  }
  @include media($bp-lg-val) {
    @include font-scale(mid-large);
  }
}
h2 {
  margin-bottom: 1.5rem;
}
h3, .gamma {
  @include font-scale(base);
  
  @include media($bp-med-val) {
    @include font-scale(mid);
  }
  @include media($bp-lg-val) {
    @include font-scale(mid);
  }
}
h3 {
  margin-bottom: 1.5rem;
}
h4, .delta {
  @include font-scale(base);
}
h5 {
  color: palette(gray, dark);
  font-weight: 700;
  text-transform: uppercase;
}
h6 {
  color: palette(gray, dark);
  font-weight: 700;
}

p, dl, ol, ul {
  margin-bottom: 1.5rem;
}
dl, ol, ul {
  margin-top: 1.5rem;
}
dl {
  
  dt {
    color: palette(gray);
    @include font-scale(mid-large);
  }
  dd {
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
}
ol {
  padding-left: 1.5rem;
}
ul {
  padding-left: 1rem;
}
li {
  
  p:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  color: palette(gray);
  margin-bottom: 1.5rem;
  margin-left: 0;
  
  p {
    @include font-scale(large, $font-open-sans);
  }
  
  cite:before {
    content: '—';
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

abbr {
  cursor: help;
}

em {
  font-style: italic;
}
small, .milli {
  @include font-scale(x-small);
}
strong {
  font-weight: bold;
}
/*neat trick by Jeremy Keith: http://adactio.com/journal/1612/*/
abbr[title='and'] {
 color: palette(gray, light);
 font-style: italic;
 font-weight: normal;
}

// Links
//////////////////////////////////////////////////////////////////////
a:link, a:visited {
  color: $color-links;
  @include transition-property(color, background);
  @include transition-duration($transition-speed);
}
a:focus, a:hover, a:active {
  color: $color-links-secondary;
}
a {
  
  abbr[title] {
    border: none;
    cursor: inherit;
  }
}

// Tables
//////////////////////////////////////////////////////////////////////
table {
  margin-bottom: 1.5rem;
  width: 100%;
  
  th,
  td {
    padding: 0.25em 0.5em;
  }
  
  thead {
    tr {
      background: $color-primary;
      color: $color-white;
      font-weight: bold;
    }
    
    th {
      border-right: 0.0625em solid $color-white;
      
      &:last-child {
        border: none;
      }
    }
  }
  
  tbody {
    tr {
      border-bottom: 0.0625em solid palette(gray, light);
    }
    tr:nth-child(even) {
      background: palette(gray, x-light);
    }
  }
}

// Forms
//////////////////////////////////////////////////////////////////////
form, input, textarea, button {
  @include font-scale(base, $font-open-sans)
}
label {
  display: block;
  
  &.choice {
    @include media($bp-med-val) {
      display: inline;
      margin-right: 1em;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Misc
//////////////////////////////////////////////////////////////////////
iframe,
img,
embed,
object,
video {
	max-width: 100%;
}
iframe {
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 0.0625em solid palette(gray, light);
}

// Top
//////////////////////////////////////////////////////////////////////
.title {
  @extend .beta;
  margin: 0;
  text-align: center;
  
  a {
    color: palette(misc);
    text-decoration: none;
    text-shadow: 0.125rem 0.125rem 0 rgba($color-black, 0.42);
  }
  
  @include media($bp-med-val) {
    text-align: left;
  }
}

// Primary
//////////////////////////////////////////////////////////////////////
.primary {
  
  li {
    border-bottom: 0.0625rem solid palette(gray, x-light);
    margin-bottom: 0.75rem;
    padding-bottom: 0.6875rem;
    
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
  a {
    text-decoration: underline;
  }
}

.heading-main {
  h1 {
    margin-bottom: 0;
    text-shadow: 0.125rem 0.125rem 0 rgba($color-black, 0.12);
  }
  .lead-in {
    color: palette(gray);
    font-style: italic;
    margin-bottom: 0;
    @include font-scale(mid);
    
    @include media($bp-lg-val) {
      @include font-scale(mid-large);
    }
  }
}

.content {
  
  @include media($bp-lg-val) {
    p, dl, ol, ul {
      @include font-scale(mid);
    }
  }
}

.ancillary {
  h2 {
    @extend .gamma;
  }
}

// Bottom
//////////////////////////////////////////////////////////////////////
.bottom {
  color: palette(misc);
  
  a {
    color: palette(blue, x-light);
    &:focus,
    &:hover,
    &:active {
      color: palette(blue, xx-light);
    }
  }
}

// Classes and overrides
//////////////////////////////////////////////////////////////////////
.headshot {
  margin-bottom: 1.5rem;
  
  img {
    border: 0.25rem solid palette(gray, light);
    border-radius: $base-border-radius;
  }
}

.giga {
  @include font-scale(large, $font-open-sans);
  margin: 0;
  
  @include media($bp-med-val) {
    @include font-scale(x-large, $font-open-sans);
  }
}

.hide {
  @extend %visuallyhidden;
}

.ie-warning {
  background: $color-warning;
}

.news-item {
  @extend %separate;
  
  h2 {
    a {
      text-decoration: none;
    }
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

.required {
  color: palette(green);
  font-weight: bold;
}

// Hero
//--------------------------------------------------------------------
.hero {
  @extend %hero; // use an extension so that other elements can inherit the hero base styles
}

.ie-warning {
  text-align: center;
  p {
    font-weight: bold;
    margin-bottom: 0;
  }
}