// Typography overrides
//////////////////////////////////////////////////////////////////////

// Base HTML
//////////////////////////////////////////////////////////////////////
/* Define your base font-size here; most elements will inherit this. */
:root {
  font-size: 1em;
  line-height: 1.5;
}

body {
  background: palette(misc);
  color: palette(gray, x-dark);
  font-family: unquote(map-get($font-merriweather, stack));
  @include font-scale(base);
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Common margin-bottom for vertical rhythm. */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
fieldset,
p,
table,
pre,
hr {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5 {
  color: $color-secondary;
  font-family: unquote(map-get($font-merriweather, stack));
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1, .alpha {
  @include font-scale(mid-large);
  margin-bottom: 1.5rem;
  
  @include media($bp-med-val) {
    @include font-scale(large);
  }
  @include media($bp-lg-val) {
    @include font-scale(x-large);
  }
}
h2, .beta {
  @include font-scale(mid);
  
  @include media($bp-med-val) {
    @include font-scale(mid-large);
  }
  @include media($bp-lg-val) {
    @include font-scale(large);
  }
}
h3, .gamma {
  @include font-scale(mid);
  
  @include media($bp-med-val) {
    @include font-scale(mid);
  }
  @include media($bp-lg-val) {
    @include font-scale(mid-large);
  }
}
h4, .delta {
  @include font-scale(base);
  
  @include media($bp-med-val) {
    @include font-scale(mid);
  }
  @include media($bp-lg-val) {
    @include font-scale(mid);
  }
}
h5, .epsilon {
  @include font-scale(base);
}
h5 {
  text-transform: none;
}
h6, .zeta {
  font-family: unquote(map-get($font-merriweather, stack));
  @include font-scale(base);
}
h6 {
  font-weight: bold;
}

p, dl, ol, ul {
  margin-bottom: 1.5rem;
}
dl {
  margin-top: 1.5rem;
  
  dt {
    color: palette(gray);
    @include font-scale(mid-large);
  }
  dd {
    margin-bottom: 1.5rem;
  }
}

blockquote {
  color: palette(gray);
  @include font-scale(large, $font-merriweather);
  margin-bottom: 1.5rem;
  
  cite:before {
    content: '—';
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

abbr {
  cursor: help;
}

em {
  font-style: italic;
}
small, .milli {
  @include font-scale(x-small);
}
strong {
  font-weight: bold;
}
/*neat trick by Jeremy Keith: http://adactio.com/journal/1612/*/
abbr[title='and'] {
 color: palette(gray, light);
 font-style: italic;
 font-weight: normal;
}

// Links
//////////////////////////////////////////////////////////////////////
a:link, a:visited {
  color: $color-links;
  @include transition-property(color, background);
  @include transition-duration($transition-speed);
}
a:focus, a:hover, a:active {
  color: $color-links-secondary;
}
a {
  
  abbr[title] {
    border: none;
    cursor: inherit;
  }
}

// Tables
//////////////////////////////////////////////////////////////////////
table {
  margin-bottom: 1.5rem;
  width: 100%;
  
  th,
  td {
    padding: 0.25em 0.5em;
  }
  
  thead {
    tr {
      background: $color-primary;
      color: $color-white;
      font-weight: bold;
    }
    
    th {
      border-right: 0.0625em solid $color-white;
      
      &:last-child {
        border: none;
      }
    }
  }
  
  tbody {
    tr {
      border-bottom: 0.0625em solid lighten($color-secondary-light, 12);
    }
    tr:nth-child(even) {
      background: $color-secondary-pale;
    }
  }
}

// Misc
//////////////////////////////////////////////////////////////////////
hr {
  border: none;
  border-top: 0.0625em solid $color-secondary-light;
}

// Top
//////////////////////////////////////////////////////////////////////
.title {
  @extend .beta;
  margin: 0;
  text-align: center;
  
  a {
    color: palette(misc);
    text-decoration: none;
    text-shadow: 0.125rem 0.125rem 0 rgba($color-black, 0.42);
  }
  
  @include media($bp-med-val) {
    text-align: left;
  }
}

// Primary
//////////////////////////////////////////////////////////////////////
.primary {
  
  a {
    text-decoration: underline;
  }
}

// Bottom
//////////////////////////////////////////////////////////////////////
.bottom {
  color: palette(misc);
  
  a {
    color: $color-primary-light;
    &:focus,
    &:hover,
    &:active {
      color: $color-white;
    }
  }
}

// Classes and overrides
//////////////////////////////////////////////////////////////////////

.giga {
  @include font-scale(large, $font-merriweather);
  margin: 0;
  
  @include media($bp-med-val) {
    @include font-scale(x-large, $font-merriweather);
  }
  @include media($bp-lg-val) {
    @include font-scale(xx-large, $font-merriweather);
  }
}

// Hero
//--------------------------------------------------------------------
.hero {
  @extend %hero; // use an extension so that other elements can inherit the hero base styles
}

.ie-warning {
  text-align: center;
  p {
    font-weight: bold;
    margin-bottom: 0;
  }
}

.leader {
  @extend .gamma;
  color: palette(gray, dark);
}