// Desktop layout
//////////////////////////////////////////////////////////////////////

// Top
//////////////////////////////////////////////////////////////////////
.top {
  background-color: $color-primary-dark;
  @include background(
    linear-gradient(left, rgba($color-black, 0) 0%, rgba($color-black, 0) 97%, rgba($color-black, 0.42) 100%),
    linear-gradient(left top, $color-secondary, $color-primary-dark)
  );
  border-right: 0.0625rem solid $color-black;
  border-bottom: none;
  bottom: 0;
  max-width: unquote($bp-med-val);
  @include pad(3rem default 3rem default);
  position: fixed;
  left: 0;
  top: 0;
  @include span-columns(4);
}

.menu-main {
  
  li {
    display: block;
    //float: left;
    //margin-right: 1em;
    position: relative;
  }// end li
}// end menu-main

.menu-eyebrow {
  
  li {
    
    a {
      display: block;
    }
  }
}

// Primary
//////////////////////////////////////////////////////////////////////
.primary {
  max-width: unquote($bp-lg-val);
  @include shift(4);
  @include pad(3rem default 3rem 0);
}

// Bottom
//////////////////////////////////////////////////////////////////////
.bottom {
  max-width: unquote($bp-lg-val);
  @include shift(4);
  @include pad(1.5rem default 1.5rem 0);
}