// Mobile and small screen layout
//////////////////////////////////////////////////////////////////////

// Top
//////////////////////////////////////////////////////////////////////
.top {
  background-color: $color-primary-dark;
  @include background(
    linear-gradient(top, rgba($color-black, 0) 0%, rgba($color-black, 0) 97%, rgba($color-black, 0.42) 100%),
    linear-gradient(left top, $color-secondary, $color-primary-dark)
  );
  border-bottom: 0.0625rem solid $color-black;
  @extend %wrap;
}

.masthead {
  @extend %container;
  position: relative;
}

.title,
.nav {
  @include span-columns(12);
}

// Primary
//////////////////////////////////////////////////////////////////////
.primary {
  @extend %wrap;
  
}
.container {
  @extend %container;
}

// Bottom
//////////////////////////////////////////////////////////////////////
.bottom {
  border-top: 0.0625rem solid palette(gray, x-light);
  @extend %wrap;
}

.footer {
  @extend %container;
}