// Mobile and small screen layout
//////////////////////////////////////////////////////////////////////

// Top
//////////////////////////////////////////////////////////////////////
.top {
  @extend %wrap;
  background-color: palette(gray, x-dark);
  @include background(
    linear-gradient(left top, palette(blue, dark), palette(gray, x-dark))
  );
  border-bottom: 0.75rem solid palette(green);
  position: relative;
  
  /*&:after {
    background: palette(blue);
    bottom: -1.5rem;
    content: ' ';
    height: 0.75rem;
    left: 0;
    position: absolute;
    right: 0;
  }*/
}

.masthead {
  @extend %container;
  position: relative;
}

.title,
.nav {
  @include span-columns(12);
}

// Primary
//////////////////////////////////////////////////////////////////////
.primary {
  @extend %wrap;
  padding-top: 0;
}

.heading-main {
  @extend %wrap;
  background-color: palette(gray, x-light);
  @include background(
    linear-gradient(left top, palette(gray, x-light), palette(misc))
  );
  border-top: 0.75rem solid palette(blue);
  margin-bottom: 1.5rem;
  
  header {
    @extend %container;
  }
}

.container {
  @extend %container;
}

// Bottom
//////////////////////////////////////////////////////////////////////
.bottom {
  background-color: palette(gray, x-dark);
  @extend %wrap;
}

.footer {
  @extend %container;
}