// Colors
//////////////////////////////////////////////////////////////////////
$color-primary: palette(blue);
$color-primary-light: palette(blue, light);
$color-primary-dark: palette(blue, dark);
$color-secondary: palette(green);
$color-secondary-light: lighten($color-secondary, 12);
$color-secondary-pale: lighten($color-secondary, 42);
$color-black: palette(gray, x-dark);
$color-white: palette(misc);
//
$color-links: $color-primary;
$color-links-secondary: $color-primary-dark;
$color-buttons: $color-secondary;
//
$color-error: #F5003D;
$color-warning: #F5B800;
$color-success: #2EB800;