<h2>Address &amp; Contact Information</h2>
<p>
  <strong>Conna Weiner</strong><br>
  <em>Mediator and Arbitrator</em><br>
  198 Tremont St.<br>
  Unit 299<br>
  Boston, MA 02116
</p>

<p>Email: <a class="icon-contact" href="mailto:cw@connaweineradr.com">cw@connaweineradr.com</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2948.55003280413!2d-71.0644889!3d42.3521159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a77b50d97f3%3A0xc0077dbc7f92bebf!2s198+Tremont+St+%23299!5e0!3m2!1sen!2sus!4v1396291254487" width="300" height="300" frameborder="0" style="border:0"></iframe>