<figure class="headshot">
  <img alt="Photo of Conna Weiner" src="/a/i/conna-weiner.jpg">
</figure>

<p><a href="http://adr.org/"><img alt="American Arbitration Association" src="/a/i/AAA-logo-2014.png"></a></p>

<h2>Work with Conna</h2>

<p>Ms. Weiner is a member of the <a href="http://adr.org/">American Arbitration Association</a> Commercial Panel of Arbitrators, mediates regularly and was awarded an ADR Higginbotham Fellowship by the AAA in 2013. Please click on the pages above to learn more about Ms. Weiner’s background and experience. </p>

<p><a class="btn btn-large" href="/about/">Learn More about Conna</a></p>