---
layout: wireframe
title: Style Guide
excerpt: 'A page containing nearly every element defined in the CSS styles'
slug: style-guide
---

<p>This page contains nearly every element defined in the CSS styles. It is meant to demonstrate the various heading sizes, paragraphs, lists, and other items like forms and tables. While you may never use some of these items they are in place to be used when needed.</p>

{% include style-guide/_typography.html %}

<hr>

{% include style-guide/_buttons.html %}

<hr>

{% include style-guide/_forms.html %}

<hr>

{% include style-guide/_hero.html %}

<hr>

{% include style-guide/_tables.html %}